[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pyside2 = "*"

[requires]
python_version = "3.9"
