/* **************************************************** */
/* QTOOL BUTTON */
/* **************************************************** */

QToolButton
{
    color: #e2e2e2;
    border-radius: 2px;
    border-color: #1e1e1e;
    border: 1px solid black;
    padding: 0px 0 5px 0;
    font-size: 11px;
    background-color : rgb(20,20,20);
    text-align: bottom;
}

QToolButton:pressed
{
    background-color: #c79100;
}

QToolButton:hover
{
    border: 1px solid #ffb300;
}
